
html{
    background-color: rgb(224, 205, 123);
    height: 100%;
}
/*clock css section starts from here*/

.clockstyle{
    text-align: center;
    margin: 160px 550px;
    font-size: 40px;
    color: white;
    background-color: rgba(255, 255, 255, .25);  ;
    padding: 70px;
    min-height: 10vh;
    width: 280px;
    border-radius: 10px;
    font-weight: bold;
}
h2{
    text-align: center;
    color: white;
    background-color:rgba(0, 0, 0, 0.18)
    
   
}
.text{
    margin: 80px 550px;
}
a{
    color: rgb(63, 49, 49);
}
a:hover{
    color: brown;
}
.nav{
    float: right;
    position: sticky;
    margin: -100px 100px;
}


.nav ul li{
    display: inline-block;
    padding: 20px;
}
footer{
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/ 
    height: 50px;
    background: rgba(0, 0, 0, 0.18);
}
/*clock css section ends here*/

/*focus css section starts here*/

div#container {
    margin-top: 100px;
    border-radius: 10px;
}

#container{
height: 300px;
width: 650px;
background-color: rgba(255, 255, 255, .25);
margin: 0 auto;
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(3, 1fr);
/*border: 1px solid yellow;*/
color: white;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}


.label{
    align-items: center;
    justify-self: center;
    font-size: 30px;
    font-weight: bold;
}

#focus{
    grid-area: 1 / 2 / 1 / 2;
}
#break{
    grid-area: 1 / 4 / 1 / 4;
}
#cycles{
    grid-area: 1 / 3 / 1 / 3;
}

.timer{
    display: flex;
    align-self: center;
    justify-self: center;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 3px;
}

p{
    margin: 0;
    padding: 0;
}

#counter{
    grid-area: 2 / 3 / 2 / 3;
}
#focus-timer{
    grid-area: 2/ 2 / 2 / 2;
}
#break-timer{
    grid-area: 2 / 4 / 2 / 4;
}

.btn{
    align-self: center;
    justify-self: center;
    width: 100px;
    height: 30px;
    font-size: 20px;
    background: none;
    color: white;
    border: none;
    border-radius: 5px;
    letter-spacing: 2px;
}
.btn:focus{
    background-color:rgba(0, 0, 0, 0.18);
    font-weight: bold;
}
#start{
    grid-area: 3 / 2 / 3 / 2;
}
#reset{
    grid-area: 3 / 3 / 3 / 3;
}
#stop{
    grid-area: 3 / 4 / 3 / 4;
}


/*focus css section ends here*/